.home-container{
    row-gap: 7rem;
}
.home-content{
   grid-template-columns: 116px repeat(2, 1fr);
   padding-top: 5.5rem;
   align-items: center;
}
.home-social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home-social-icon{
    color: var(--title-color);
    font-size: 1.25rem;
    transition: all 0.3s ease;

}
.home-social-icon:hover{
    color: var(--title-color-dark);
}
.home-title{
    font-size: var(--big-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}
.home-hand{
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
    animation: move 1s infinite alternate;
}
@keyframes move{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}
.home-subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}
.home-subtitle::before{
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    transform: translateY(-50%);
    width: 70px;
    height: 1px;
    background-color: var(--title-color-dark);
}
.home-description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
}
.home-img{
    background: url(../../assests/profile.jpg) no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
    order: 1;
    justify-self: center;
    animation: profile-animate 8s ease-in-out infinite;
}

@keyframes profile-animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home-scroll{
   margin-left: 9.25rem;

}
.home-scroll-mouse{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--title-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--mb-0-25);
    font-size: 1.25rem;
}
@keyframes scroll-animate{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-scroll-mouse span{
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: var(--background-dark-color);
}
.home-scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-left: 2px;
    margin-right: var(--mb-0-25);
}

.home-scroll-arrow{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-left: 0.25rem;
    animation: scroll-animate 3s infinite;

}

/* Breakpoints */
/* For large devices */
@media screen and (max-width: 992px) {
    .home-content{
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem; ;
    }
  
    .home-hand{
        width: 26px;
        height: 26px;
    }
    .home-subtitle{
      margin-bottom: var(--mb-1);
        padding-left: 3.75rem;
    }
    .home-subtitle::before{
        width: 42px;
        top: 0.8rem;
    }
    .home-description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }
    .home-img{
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.3);
    }
    .home-scroll{
        margin-left: 7.5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .home-content{
        grid-template-columns: 0.5fr 1fr;
        padding: 3rem;

    }
    .home-img{
        order: initial;
        justify-self: initial;
    }
    .home-data{
        grid-column: 1/3;
    }
    .home-img{
        width: 200px;
        height: 200px;
        box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.3);
    }
    .home-scroll{
        display: none;
    }

  }
  
  
  /* For small devices */
  @media screen and (max-width: 390px) {
    .home-content{
        grid-template-columns: 0.5fr 1fr;
        padding:3rem 1rem;

    }
   .home-img{
    width: 180px;
    height: 180px;
   }
   .home-hand{
    width: 22px;
    height: 22px;
   }
  }



